body {
  min-height: 100%;
  font-size: 16px;
}
h1, h2, select, table {
  width: 100%;
}
h1, h2,
table th {
  text-align: center;
}
h1, h2 {
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 1.75em;
}
h2 {
  font-size: 1.5em;
}
a {
  text-decoration: none;
}

body {
  padding: 10px;
}
body > h1 + div,
body > div + div {
  margin-top: 10px;
  border-top: 1px solid black;
  padding-top: 10px;
}
body > div > table th h2 {
  padding: 10px 0 20px 0;
}
