html, body,
body > header,
body > section.tester-container,
body > div > video {
  margin: 0;
  padding: 0;
}
html, body {
  background-color: white;
  font-family: sans-serif;
  font-size: 12px;
  box-sizing: border-box;
}
body > header,
body > section.tester-container {
  display: block;
  text-align: center;
}
body > header,
body > section.tester-container > table td {
  padding: 1rem;
}
body > section.tester-container > table {
  text-align: left;
  margin: 0 auto;
}

body > header > a {
  text-decoration: none;
}
body > header > a > h1 {
  display: inline-block;
  color: #ed2324;
  font-size: 2rem;
  margin: 0;
}

body > section.tester-container > table td {
  vertical-align: top;
}
body > section.tester-container > table td > label {
  color: #111;
  font-size: 1.25rem;
  margin-bottom: 1rem;
}
body > section.tester-container > table td > select {
  text-align: left;
}
body > section.tester-container > table td > div > button {
  display: inline-block;
  margin: 1rem;
}
body > section.tester-container > table td > div > button:first-child {
  margin-left: 0;
}
body > section.tester-container > table td > div > button:last-child {
  margin-right: 0;
}
body > section.tester-container > div > video {
  display: inline-block;
  width: auto;
  border: 1px solid black;
}
